*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
body {
    font-size:14px;
    line-height:21px;
    color: #333333;
    font-weight: normal;
    font-family: 'PT Sans',Arial,sans-serif;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
h1 {
    font-size:21px;
    line-height:26px;
    color: #000000;
    font-weight: bold;

}
h3 {
    color:#ffffff;
    font-size:21px;
    line-height:26px;
    font-weight: bold;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 15px #e4e4e4, 0px 5px 15px #e4e4e4;
}
/* page_header  */
.page_header {
  background-color: #fff;
}
.page-navigation {
}
.nav_links li {
  list-style: none;
}
.nav_links {
  height: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
}
.nav_links a {
  text-decoration: none;
  color: #000;
  padding-right: 70px;
  padding-left: 70px;
  font-weight: bold;
}
.logo_image_wrapper {
  position: absolute;
  top:0;
  display: inline-block;
  right:45vw;
}
/* end of page_header */
/* hero section */
.hero {
    background: url('../img/background_photo.jpg') no-repeat;
    height: 510px;
    width: auto;
    text-align: center;
    padding-top:75px;
    background-size: cover;
    margin: 0;
}
/* end of hero section */
/* reasons section */
.reasons::before {
  content: "";
  height: 55px;
  margin-top: -55px;
  background: url('../img/background_bottom_cover.png') no-repeat;
  display: block;
}

.reasons header {
  height: 245px;
  background: #fff;
  padding-top: 60px;
  text-transform: uppercase;
  text-align: center;
}
.reasons_intro {
  margin-top: 40px;
}
.wrapper {
  display: flex;
  height: 255px;
}
.devils_bridge p, .real_city  p{
  text-transform: uppercase;
}
.devils_bridge , .real_city {
  height: 255px;
  width: 400px;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  padding-top: 58px;
  padding-left:60px;
  padding-right:60px;
}
.devils_bridge h3, .real_city h3 {
  margin: 0;
}
.numbering {
  color: #fff;
  padding-top:30px;
  padding-bottom:30px;
}
.devil_bridge_img img, .real_city_image img{
  width: 100%;
  height: 100%;
}
.reasons_started {
  height: 330px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  background-color: #fff;
  align-items: center;
}

.reasons_started li:nth-child(1){
  background: url('../img/house.png') no-repeat 50% 60px;
}
.reasons_started li:nth-child(2){
  background: url('../img/burger.png') no-repeat 50% 60px;
}
.reasons_started li:nth-child(3){
  background: url('../img/gift.png') no-repeat 50% 60px;
}
.reasons_continued li, .reasons_started li {
  height: 100%;
  width: 400px;
  padding-top:165px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

.reasons_ended li b, .reasons_continued li b, .reasons_started li b {
  display: block;
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: bold;
}
.reasons_ended li b {
  margin-bottom: 0px;
}
.reasons_ended {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.reasons_ended li {
  width: 400px;
  text-align: center;
  list-style: none;
  height: 255px;
  padding: 0px;
  padding-top:50px;
  background-color: #eeeeee;
}

.reasons_ended li p,.reasons_ended li .numbering {
  text-transform: uppercase;
  color:#333333;
  padding-left:30px;
  padding-right:30px;
}
/* end of reasons section */
/* interested section */
.interested {
  padding: 60px;
  margin: 0px;
  height: 290px;
  text-align: center;
  background-color: #fff;
}
.interested b {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  display: block;
}
.interested p {
  text-transform: uppercase;
}
.form_block {
  margin-top: 66px;
  text-transform: uppercase;
  height: 480px;
  width: 570px;
  display: inline-block;
  background-color: #fff;
}
.title {
  background-color: #766357;
  color: #fff;
  height: 82px;
  padding-top: 35px;
  font-size: 21px;
  font-weight: bold;

}
.search_form {
  padding-top: 55px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

}
.search_form p {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search_form p label {
  width: 100px;
  text-align: left;
  line-height: 40px;
  font-weight: bold;
}
.search_form p .checkin, .search_form p .checkout {
  width: 350px;
}
.search_form p {
  margin-bottom: 30px;
}
#checkin, #checkout {
  border: 2px solid #f2f2f2;
  width: 350px;
  padding-left: 15px;
  height: 40px;
  border: none;
  outline: none;
  background: url('../img/calendar.png') no-repeat 97% center;
  background-color: #f2f2f2;
  margin-right: auto;
  font-weight: bold;
}
#checkin:focus, #checkout:focus {
  background-color: #fff;
  border: 2px solid #f2f2f2;
  padding-left: 13px;
}
#adults, #children {
  width: 15px;
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
}
#children {

}
p label.children_label {
  margin-right:auto;
  margin-left: 50px;
  width: 28px;
}
.submit {
  border: none;
  background-color: #81b3d2;
  width: 100%;
  color:#fff;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
}
/* end of interested section */
/* map */
.map {
  background: url('../img/map.png') no-repeat center;
  height: 590px;
}
.map img {
  z-index: -1;
  position: absolute;
}
/* end of map */
/* footer */
.page_1  .page-footer{
  margin-top: -120px;
}
.page-footer {

  height: 120px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  padding-left:130px;
  padding-right: 100px;
  align-items: center;
  text-transform: uppercase;
}
.page-footer ul {
  display: flex;
}

.page-footer ul li {
  background-color: #81b3d2;
  list-style: none;
  text-align: center;
  margin-left: 5px;

}
.page-footer ul li a {

  text-decoration: none;
}
.social_links li a {
  font-size: 0;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.hashtag{
  font-size: 21px;
  font-weight: bold;
}
.youtube {
 background:url('../img/social_sprite.png') no-repeat;
 background-position: 13px -108px;
}
.twitter {
 background:url('../img/social_sprite.png') no-repeat;
 background-position: 14px -47px;
}
.facebook {
 background:url('../img/social_sprite.png') no-repeat;
 background-position: 17px 15px;
}
/* end of footer */


/* hotels page */


/* hotel_search */
.hotel_search {
  height: 220px;
  background: url('../img/filter background.jpg') no-repeat;
}
.hotel_search form {
  display: flex;
  align-items: stretch;
  padding-top: 30px;
  color: #fff;
}
.hotel_search form fieldset {
  padding-top:35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  text-transform: uppercase;
}
.hotel_search form fieldset input {
  width: 25px;
}
input[type='checkbox'] {
  display: none;
}

.hotel_search form fieldset label::before {
  min-width: 22px;
  content: url('../img/checkbox_empty.png');
  padding-right: 19px;
}

.hotel_search form fieldset label {
  height: 22px;
  margin-bottom: 25px;
  width: 150px;
}
.infrastructure {
  margin-left: 75px;
  width: 240px;
}
.type_of_rent {
  width: 290px;
}
.price_range_filter {
  width: 330px;
  margin-right: 75px;
  margin-left: auto;
}
.from_till_box {
  border: 2px solid #fff;
  height: 35px;
  border-radius: 2px;
  text-align: center;
}
.from {
  display: inline-block;
  line-height: 35px;
}
.till {
  display: inline-block;
}
.divider {
  line-height: 35px;
  border: 1px solid white;
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
  height: 23px;
  margin-top: 5px;
}
.show_button {
  text-decoration: none;
  color:#fff;
  border: 2px solid #fff;
  text-align: center;
  width: 135px;
  height: 35px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}
/* end of hotel_search section */
/* results section */
.results {
  background-color: #fff;
}
.sorting_control {
  border-bottom: 1px solid #e5e5e5;
  height: 85px;
  display: flex;
  align-items: center;
}
.sorting {
  display: flex;
  width: 917px;
}
.sorting li {
  width: 88px;
  list-style: none;

}
.sorting li:last-child {
  width: 37px;
  margin-left: auto;
  overflow: hidden;
  text-align: right;

}
.sorting li:last-child a {
  text-decoration: none;
  color:#cccccc;
}
.sorting li:last-child a.active {
  color: #81b3d2;
}
.found {
  margin-left: 75px;
  width: 135px;
  color:#000;
}
.search_result_item {
  padding-top: 30px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  padding-left: 75px;
  padding-right: 75px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel_details {
  margin-left: 30px;
  width: 365px;
}
.hotel_details h2 {
  margin-bottom: 10px;
}
.hotel_details h2 a{
  text-decoration: none;
  color:#000;
  font-size: 21px;
  font-weight: bold;
}

.raiting {
  width: 110px;
  margin-left: auto;
}

.action_buttons {
  margin-top:10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.action_buttons a{
  text-decoration: none;
  color:#fff;
  height: 27px;
  padding-left:18px;
  padding-right:18px;
  padding-top:8px;
  padding-bottom:8px;
}
.action_buttons a:nth-child(1){
  background-color:#81b3d2;
}
.action_buttons a:nth-child(2){
  background-color:#766357;
}
.stars {
  text-align: right;
  color: #81b3d2;
  letter-spacing: 6px;
}
.score{
  background-color: #f2f2f2;
  margin-top: 47px;
  line-height: 28px;
  text-align: center;
}

.plus_minus_button {
  border: none;
  width: 40px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-size: 21px;
  font-weight: bold;
}

a:hover {
  color:#8bb9d5;
}
a:active {
  color:#dadada;
}
